*
{
    box-sizing: border-box;
}

.box
{
    display: inline-block;
    width: 110px;
    height: 110px;
    background: sandybrown;
    color: black;
}

#two
{
    position: relative;
    top: 30px;
    left: 30px;
    background: blue;
}